.wrapper
  .group
    .group__header
      .group__header__name
        = current_user.name
      .group__header__icon
        = link_to "#{new_group_path}", class: "icon1" do
          = fa_icon 'pencil-square-o'
        =link_to "#{edit_user_registration_path(current_user)}", class: "icon2" do
          = fa_icon 'cog'
    .group__user
      - @group_users.each do |g|
        = render partial: "layouts/group__user", locals: {g: g }
  .message
