.wrapper
  .group
    .group__header
      .group__header__name
        #{current_user.name}
      .group__header__icon
        = link_to "#{new_group_path}", class: "icon1" do
          = fa_icon 'pencil-square-o'
        =link_to "#{edit_user_registration_path(current_user)}", class: "icon2" do
          = fa_icon 'cog'
    .group__user
      - @group.each do |group|
        = link_to "#{group_messages_path(group)}", class: "group__user__list" do
          .group__user__list--name
            = simple_format(group.name)
          .group__user__list--message
            まだメッセージがありません
  .message
