.wrapper
  .group
    .group__header
      .group__header__name
        = current_user.name
      .group__header__icon
        = link_to "#{new_group_path}" , class: "icon1" do
          = fa_icon 'pencil-square-o'
        = link_to "#{edit_user_registration_path(current_user)}" , class: "icon2" do
          = fa_icon 'cog'
    .group__user
      - @group_users.each do |g|
        = render partial: "layouts/group__user", locals: {g: g }
  .message
    .message__header
      .message__header__name
        = @current_group.name
      = link_to 'Edit',"#{edit_group_path(@current_group)}", class: 'edit'
      .message__header__members
        member:
        - @users.each do |u|
          = u.user.name
    .message__body
      .message__body__chat
        .message__body__chat__name
          yasui haruki
        .message__body__chat__time
          2017/06/14
        .message__body__chat__comment
          楽しい
      .message__body__chat
        .message__body__chat__name
          yasui haruki
        .message__body__chat__time
          2017/06/14
        .message__body__chat__comment
          楽しい
    .message__footer
      %textarea{name: :"type", class: :"type", placeholder: :"type a message"}
      %input{type: :"submit", value: :"Send", class: :"send"}
      = fa_icon 'file-photo-o'
